body{
  margin: 0px;
}
h1{
  font-size: 45px;
  text-align: center;

  border-bottom: 1px solid black;
  margin: 0px;
  padding: 20px;
  padding-top: 3px;
  padding-bottom: 15px;
}
a{
  text-decoration: none;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol{
  border-right: 1px solid black;
  width: 150px;

  padding: 20px;
  padding-right: 0px;
  margin: 0px;
}
#bre{
  padding-left: 50px;
}
@media(max-width:800px) {
  #grid{
    display: block;
  }
  #grid ol{
    border-right: none;
    margin-left: 50px;
  }
  h1{
    border-bottom: none;
  }
}
